.footer {
    height: 200px;
    background: linear-gradient(250deg, #191919, #302121);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer__inner {
    padding-top: 20px;
    padding-left: 70px;
}

h2 {
    padding-bottom: 20px;
    color: rgb(248, 179, 179);
}

.contacs {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    font-size: 24px;
}

.telephone, .tg {
    padding: 10px;
    border: 2px solid antiquewhite;
    border-radius: 10px;
}

a {
    color: #e9f5ff;
    border-color: antiquewhite;
}
