.header__inner {
    display: flex;
    gap: 20px;
    padding: 80px 0 30px;
}

.header__inner_items {
    color: #F3F6F9;
    font-family: Arimo;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 200px;
    border: 1px solid #6532F8;
    background: #6532F8;

}

h1 {
    color: #F3F6F9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 68px;
    font-weight: 400;
}