@import url(footer.css);
@import url(moviesList.css);
@import url(header.css);

html {
    font-family: 'Arimo', sans-serif;
}

body {
    background: #181818;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 930px;
    padding: 80px 150px;
}