html {
    font-family: 'Arimo', sans-serif;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 930px;
    padding: 20px 45px;
}

body {
    background: #181818;
}


.movies {
    display: flex;
    border-radius: 20px;
    background: #232323;
    margin-top: 45px;
    padding: 80px 70px;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

.movies__button {
    background: #6532F8;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-left: 20px;
}

.movies__input {
    width: 100%;
    border-bottom: 1px solid #F3F6F9;
    color: #F3F6F9;
    font-family: Arimo;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.6px;
    padding: 15px 25px;
    outline: none;
    background: transparent;
}

a {
    text-decoration: none;
    color: rgb(241, 247, 220);
    font-size: 30px;
    padding: 10px;
    border: 2px solid rgb(241, 247, 220);
    border-radius: 10px;
}